In [13]:
import pandas as pd 
import numpy as np
import datetime

In [14]:
def read_solar(PATH: str) -> pd.DataFrame:
    cols=['YYY','MM','DD','days','days_m','Bsr','dB',
                'Kp1','Kp2','Kp3','Kp4','Kp5','Kp6','Kp7','Kp8',
                'ap1','ap2','ap3','ap4','ap5','ap6','ap7','ap8','Ap',
                'SN','F10.7obs','F10.7adj','D']
    df = pd.read_csv(PATH, sep=r'\s+', header=None, names=cols)
    df.columns = [a.lower() for a in df.columns]
    df['epoch'] = df.apply(lambda row: datetime.datetime(int(row.yyy), int(row.mm), int(row.dd)), axis=1)
    df.drop(['yyy','mm','dd','days','days_m'], axis=1, inplace=True)
    df['f10.7_81'] = None
    for i in range(0,len(df)-80,81):
        df.loc[np.arange(i,i+81),'f10.7_81'] = df.loc[np.arange(i,i+81),'f10.7obs'].mean()
    return df

In [15]:
PATH1 = 'kpdata3yr.txt'

In [17]:
solar = read_solar(PATH1)
solar

,bsr,db,kp1,kp2,kp3,kp4,kp5,kp6,kp7,kp8,...,ap6,ap7,ap8,ap,sn,f10.7obs,f10.7adj,d,epoch,f10.7_81
0,2569,24,2.333,4.000,2.333,1.667,1.667,3.000,3.000,1.333,...,15,15,5,12,48,93.9,90.8,2,2022-01-01,107.660494
1,2569,25,3.000,1.667,1.333,1.333,1.000,2.333,2.333,3.333,...,9,9,18,9,27,89.0,86.0,2,2022-01-02,107.660494
2,2569,26,2.000,4.000,3.333,3.000,2.000,1.333,1.667,2.000,...,5,6,7,12,10,84.0,81.3,2,2022-01-03,107.660494
3,2569,27,2.333,3.000,0.667,1.333,0.667,0.000,0.333,0.333,...,0,2,2,5,10,85.5,82.7,2,2022-01-04,107.660494
4,2570,1,0.667,2.333,0.000,0.000,0.667,1.333,0.000,0.000,...,5,0,0,2,23,83.7,81.0,2,2022-01-05,107.660494
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1050,2608,21,3.333,2.333,2.333,2.000,1.333,0.000,0.000,0.333,...,0,0,2,6,72,139.9,136.8,0,2024-11-16,208.467901
1051,2608,22,0.667,2.667,2.000,2.000,3.000,1.000,1.333,1.000,...,4,5,4,7,84,146.3,142.9,0,2024-11-17,208.467901
1052,2608,23,1.000,2.000,0.000,0.333,0.667,1.333,0.667,1.333,...,5,3,5,4,115,165.0,161.2,0,2024-11-18,208.467901
1053,2608,24,1.667,1.000,1.667,2.000,2.667,2.667,2.333,1.000,...,12,9,4,8,115,157.2,153.5,0,2024-11-19,None
1054,2608,25,0.333,2.667,2.667,2.333,2.000,1.333,1.000,1.333,...,5,4,5,7,119,162.6,158.7,0,2024-11-20,None

In [18]:
solar.to_csv("kpcsv-3yr.csv", index=False)